<script type="text/javascript" src="static/jquery.js"></script>
<script type="text/javascript" src="static/ping.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>