/* Dark & Light Mode */
body.theme-dark {
  background-color: #191919;
  color: #fff;
}
body.theme-light {
  color: #000;
}
body.theme-light .nav {
  color: #fff;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
/* End */

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav {
  position: fixed;
  background-color: #131313;
  width: 100%;
  line-height: 25px;
  display: flex;
  height: 65px;
  font-weight: 700;
  top: 0;
}
.nav > .left {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 40px;
  font-size: 25px;
  flex: 0 0 200px;
}
.nav > .center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.nav > .center > .btn {
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  font-size: 20px;
  text-align: center;
}
.nav > .center > .btn.selected {
  color: burlywood;
}
.nav > .right {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 40px;  
  font-size: 20px;
  flex: 0 0 200px;
  text-align: right;
}

.region {
  display: flex;
  padding: 15px;
}
.region > .code {
  flex: 100px;
}
.region > .name {
  flex: 100px;
}
.region > .status {
  flex: 100px;
}

#ping-page {
  width: 1200px;
  margin: 65px auto 0 auto;
  padding: 30px 0 0 0;
  text-align: left;
  background-image: url(/static/world.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 300px;
}
#index-page {
  height: 100vh;
  background-image: url(/static/world.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 300px;
}
#content {
  width: 750px;
  margin: auto;
  padding: 0;
}

#footer {
  border-top: 1px solid #d3d3d3;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}